<!-- Table Display of all interval data -->
<div *ngIf="!isEditing" class="flex flex-col gap-4 p-8">
  <div class="flex justify-between items-center">
    <h3 class="text-lg font-semibold leading-none tracking-tight text-gray-900 md:text-xl">
      Interval Rate
    </h3>
  </div>
  <div class="relative overflow-x-auto sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-black">
      <thead class="text-xs text-black uppercase bg-[#D9D9D9]/25">
      <tr>
        <th scope="col" class="border-r px-6 py-3 rounded-s-lg font-normal">
          No
        </th>
        <th scope="col" class="border-r px-6 py-3 font-normal">
          Tools
        </th>
        <th scope="col" class="border-r px-6 py-3 font-normal">
          Interval Rate
        </th>
        <th scope="col" class="border-r px-6 py-3 font-normal">
          Last Updated
        </th>
        <th scope="col" class="px-6 py-3 rounded-e-lg font-normal text-center">
          Action
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of intervalData; index as i" class="bg-white">
        <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap ">
          {{i + 1}}
        </th>
        <td class="px-6 py-4">
          {{ data.tools }}
        </td>
        <td class="px-6 py-4">
          {{ data.interval }}
        </td>
        <td class="px-6 py-4">
          {{ data.lastUpdated }}
        </td>
        <td class="flex justify-center gap-2 px-6 py-4 text-right">
          <img (click)="toggleEdit(data, i)" class="hover:cursor-pointer" src="/assets/icon/edit.svg" alt="edit">
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Edit Component Larger Screen Device -->
<div *ngIf="isEditing && currentData" class="hidden sm:flex flex-col gap-4 p-8">
  <div class="flex flex-col gap-4">
    <div class="flex gap-4 flex-col sm:flex-row sm:justify-between items-center">
      <h3 class="text-lg font-semibold leading-none tracking-tight text-gray-900 md:text-xl">
        Service Status & Response Time
      </h3>
      <div class="flex flex-col sm:flex-row gap-2 sm:gap-2 w-full sm:w-auto">
        <button (click)="toggleEdit()" type="button" class="text-white bg-[#FA6868] hover:bg-[#E05A5A] focus:outline-none focus:ring-4 focus:ring-blue-300 font-light rounded-lg text-xs px-10 py-2 text-center">
          Cancel
        </button>
        <button (click)="saveChanges()" type="button" class="text-white bg-[#3FA93D] hover:bg-[#36832F] focus:outline-none focus:ring-4 focus:ring-blue-300 font-light rounded-lg text-xs px-10 py-2 text-center">
          Submit
        </button>
      </div>
    </div>
    <div class="flex flex-col w-full">
      <label for="input-group-1" class="block mb-2 text-sm font-normal text-gray-900">Interval</label>
      <div class="relative mb-6 w-full">
        <input [(ngModel)]="currentData.interval" type="text" id="input-group-1" class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-3/5 ps-2.5 p-2.5 " placeholder="Existing Cron Expression">
      </div>
    </div>
  </div>
</div>

<!-- Edit Component Small Screen Device -->
<div *ngIf="isEditing && currentData" class="flex sm:hidden flex-col gap-4 p-8">
  <div class="flex flex-col gap-4">
    <div class="flex gap-4 flex-col sm:flex-row sm:justify-between items-center">
      <h3 class="text-lg font-semibold leading-none tracking-tight text-gray-900 md:text-xl">
        Service Status & Response Time
      </h3>
    </div>
    <div class="flex flex-col w-full">
      <label for="input-group-1" class="block mb-2 text-sm font-normal text-gray-900">Interval</label>
      <div class="relative w-full">
        <input [(ngModel)]="currentData.interval" type="text" class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-3/5 ps-2.5 p-2.5 " placeholder="Existing Cron Expression">
      </div>
    </div>
    <div class="flex flex-col sm:flex-row gap-2 sm:gap-2 w-full sm:w-auto">
      <button (click)="toggleEdit()" type="button" class="text-white bg-[#FA6868] hover:bg-[#E05A5A] focus:outline-none focus:ring-4 focus:ring-blue-300 font-light rounded-lg text-xs px-10 py-2 text-center">
        Cancel
      </button>
      <button (click)="saveChanges()" type="button" class="text-white bg-[#3FA93D] hover:bg-[#36832F] focus:outline-none focus:ring-4 focus:ring-blue-300 font-light rounded-lg text-xs px-10 py-2 text-center">
        Submit
      </button>
    </div>
  </div>
</div>
