.dashboard-container{
    display: grid;
    grid-template-columns: 3fr 2fr 1fr 4fr; /* Three equal columns */
    grid-template-rows: auto; /* Adjust row heights automatically */
    .container{
        border-width: 2px;
        display: flex;
    }

    .grid-item {
        border: 1px solid #ccc;
        padding: 20px;
      }
      
      .item1 {
        grid-column: span 4; /* Full width for div1 */
        .status-container{
            justify-content: space-between;
            .status{
                width: 150px;
                padding: 15px 25px;
                border-radius: 15px;
                box-shadow: 0px 3px 5px #727272;

            }
            .issue{
                background-color: #FFA1A1;
            }
            .normal{
                background-color: #A2F0AA;
            }
        }
      }
      
      .item2 {
        grid-column: span 1; /* Take one-third of the width */
      }
      
      .item3 {
        grid-column: span 2; /* Take one-third of the width */
      }
      
      .item4 {
        grid-column: span 1; /* Take one-third of the width */
      }
      
      .item5 {
        grid-column: span 2; /* Take two-thirds of the width */
      }
      
      .item6 {
        grid-column: span 2; /* Take one-third of the width */
      }

    h1{
        font-weight: bold;
    }

    h2{
        font-style: oblique;
    }

    

    .text-center{
        text-align: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}