<div class="dashboard-container">
    <div>
        Service Status
        <div class="flex">
            <div>Check Health</div>
            <div>Create/Update Case</div>
            <div>Get Case Assistance</div>
            <div>Create Token</div>
            <div>Get Tracking</div>
        </div>
    </div>
    <div class="flex">
        <div>
            Response Time(ms)
            <div>Check Health</div>
            <div>Create/Update Case</div>
            <div>Get Case Assistance</div>
            <div>Create Token</div>
            <div>Get Tracking</div>
        </div>
        <div>
            HTTP Status Codes
            <div>Check Health</div>
            <div>Create/Update Case</div>
            <div>Get Case Assistance</div>
            <div>Create Token</div>
            <div>Get Tracking</div>
        </div>
        <div>
            Daily API Usage
        </div>
    </div>
    <div class="flex">
        <div>
            Alert Emails
            <table>
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Subject</th>
                        <th>Recipient</th>
                        <th>Date Sent</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let email of alertEmailList">
                        <td>No</td>
                        <td>{{ email.Subject }}</td>
                        <td>{{ email.Recipient }}</td>
                        <td>{{ email.DateSent }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            Error Rates
            <div class="flex">
                <div>Check Health</div>
                <div>Create/Update Case</div>
                <div>Get Case Assistance</div>
                <div>Create Token</div>
                <div>Get Tracking</div>
            </div>
        </div>
    </div>
</div>