<div class="dashboard-container">
  <div class="grid-item item1">
        <div class="LastUpdate" style="top: 0; right: 0;">Last Update: {{ LastUpdate }}</div>
        <h1>Service Status</h1>
        <div class="status-container grid grid-cols-2 sm:grid-cols-5 md:text-lg text-xs gap-4">
            <div class="status normal text-center col-span-2 sm:col-span-1 p-4 w-auto">
                <h2>Check Health</h2>
            </div>
            <div class="status normal text-center col-span-2 sm:col-span-1 p-4 w-auto">
                <h2>Create/Update Case</h2>
            </div>
            <div class="status normal text-center col-span-2 sm:col-span-1 p-4 w-auto">
                <h2>Get Case Assistance</h2>
            </div>
            <div class="status issue text-center col-span-2 sm:col-span-1 p-4 w-auto">
                <h2>Create Token</h2>
            </div>
            <div class="status normal text-center col-span-2 sm:col-span-1 p-4 w-auto">
                <h2>Get Tracking</h2>
            </div>
        </div>
    </div>
  <div class="grid-item item2 col-span-4 lg:col-span-2">
    <div class="LastUpdate" style="bottom: 0; right: 0;">Last Update: {{ LastUpdate }}</div>

            <h1>Response Time(ms)</h1>
            <div class="response-time-container">
                <h1>Check Health</h1>
                <div class="response-time text-center">
                    <h1>23 ms</h1>
                </div>
            </div>
            <div class="response-time-container">
                <h1>Create/Update Case</h1>
                <div class="response-time text-center">
                    <h1>25 ms</h1>
                </div>
            </div>
            <div class="response-time-container">
                <h1>Get Case Assistance</h1>
                <div class="response-time text-center">
                    <h1>32 ms</h1>
                </div>
            </div>
            <div class="response-time-container">
                <h1>Create Token</h1>
                <div class="response-time text-center">
                    <h1>-</h1>
                </div>
            </div>
            <div class="response-time-container">
                <h1>Get Tracking</h1>
                <div class="response-time text-center">
                    <h1>15ms</h1>
                </div>
            </div>
        </div>
  <div class="grid-item item3 col-span-4 lg:col-span-2">
    <div class="LastUpdate" style="bottom: 0; right: 0;">Last Update: {{ LastUpdate }}</div>

            <h1>HTTP Status Codes</h1>
            <div class="response-time-container">
                <h1>200</h1>
                <div class="response-time text-center">
                    <h1>2</h1>
                </div>
            </div>
            <div class="response-time-container">
                <h1>201</h1>
                <div class="response-time text-center">
                    <h1>0</h1>
                </div>
            </div>
            <div class="response-time-container">
                <h1>404</h1>
                <div class="response-time text-center">
                    <h1>0</h1>
                </div>
            </div>
            <div class="response-time-container">
                <h1>500</h1>
                <div class="response-time text-center">
                    <h1>3</h1>
                </div>
            </div>
            <div class="response-time-container">
                <h1>100</h1>
                <div class="response-time text-center">
                    <h1>0</h1>
                </div>
            </div>
        </div>
  <div class="grid-item item4 col-span-4 lg:col-span-4">
            <div class="LastUpdate" style="top: 0; right: 0;">
                Last Update: {{ LastUpdate }}
                <p>Last 7 Days Including Today</p>
            </div>

            <h1>Daily API Usage</h1>
            <highcharts-chart
            [Highcharts]="Highcharts"
            [options]="chartOptions"

            style="width: 100%; height: 400px; display: block;"
            ></highcharts-chart>
        </div>
  <div class="grid-item item5 col-span-4 lg:col-span-4">
            <h1>Alert Emails</h1>
    <div class="relative overflow-x-auto sm:rounded-lg">
      <table class="w-full text-sm text-left rtl:text-right text-black">
        <thead class="text-xs text-black uppercase bg-[#D9D9D9]/25">
        <tr>
          <th scope="col" class="border-r px-6 py-3 rounded-s-lg font-normal">
            No
          </th>
          <th scope="col" class="border-r px-6 py-3 font-normal">
            Subject
          </th>
          <th scope="col" class="border-r px-6 py-3 font-normal">
            Recipient
          </th>
          <th scope="col" class="px-6 py-3 rounded-e-lg font-normal">
            Date Sent
          </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let email of alertEmailList; let i = index" class="bg-white">
          <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
            {{ i + 1 }}
          </th>
          <td class="px-6 py-4">
            {{ email.Subject }}
          </td>
          <td class="px-6 py-4">
            {{ email.Recipient }}
          </td>
          <td class="px-6 py-4">
            {{ email.DateSent }}
          </td>
        </tr>
        </tbody>
      </table>
    </div>

        </div>
  <div class="grid-item item6 col-span-4 lg:col-span-4">
    <div class="LastUpdate" style="top: 0; right: 0;">Last Update: {{ LastUpdate }}</div>

            <h1>Error Rates</h1>
            <div class="grid grid-cols-5 stat-container gap-4">
                <div class="p-4 stat create-update col-span-1 lg:py-8 md:col-span-1">
                    <h2 class="text-center md:text-left">0</h2>
                </div>
                <div class="p-4 stat get-case-assistance col-span-1 lg:py-8 md:col-span-1">
                    <h2 class="text-center md:text-left">0</h2>
                </div>
                <div class="p-4 stat create-token col-span-1 lg:py-8 md:col-span-1">
                    <h2 class="text-center md:text-left">3</h2>
                </div>
                <div class="p-4 stat check-health col-span-1 lg:py-8 md:col-span-1">
                    <h2 class="text-center md:text-left">6</h2>
                </div>
                <div class="p-4 stat get-tracking col-span-1 lg:py-8 md:col-span-1">
                    <h2 class="text-center md:text-left">2</h2>
                </div>
            </div>
        </div>
</div>
