.documentation-add-file-container{
    padding: 2% 4%;
    .title-row{
        justify-content: space-between;
        .btn{
            color: #FFFFFF;
            border-radius: 15px;
            padding: 10px 2vw;
            margin-left: 5px;
            font-size: 11px;
            border-width: 2px;
        }
        .cancel-btn{
            background-color: #FA6868;
            border-color: #FA6868;
        }
        .cancel-btn:hover{
            background-color: #c55252;
            border-color: #c55252;
        }
        .cancel-btn:active{
            border-color: #FA6868;
        }
        .submit-btn{
            background-color: #3FA93D;
            border-color: #3FA93D;
        }
        .submit-btn:hover{
            background-color: #2d792c;
            border-color: #2d792c;
        }
        .submit-btn:active{
            border-color: #3FA93D;
        }
    }
    .text-area{
        border-color: #000000;
        border-width: 1px;
    }

    input{
        width: 33%;
        min-width: 200px;
        height: 35px;
        border-radius: 15px;
        padding-left: 15px;
    }

    p{
        margin-top: 10px;
        font-size: 12px;
    }

    h1{
        font-size: 18px;
        font-weight: bold;
    }
    label {
        display: inline-block;
        position: relative;
        cursor: pointer; /* Ensure the cursor changes to pointer on hover */
    }
    
    #chooseFile {
        display: none; /* Hide the actual file input */
    }
    
    img {
        width: 24px; /* Adjust the width and height as needed */
        height: 24px;
        border: 1px solid #ccc; /* Example border styling */
        padding: 4px; /* Example padding */
    }
}