<div class="flex flex-col sm:border-r-2 sm:p-4 min-h-screen gap-4">
  <div class="flex gap-1 items-center">
    <img class="m-2 w-8 h-8" src="/assets/icon/user.svg" alt="User">
    <p class="text-md lg:text-xl">Name</p>
  </div>

  <div class="flex flex-col gap-4">
    <h3 class="text-md lg:text-lg text-[#00000066]">Menu</h3>
    <ul class="flex flex-col gap-4 text-black">
      <a routerLink="/dashboard" routerLinkActive="hover:unset rounded-2xl bg-[#0000000D]">
        <li class="flex gap-4 px-2 lg:px-4 py-2 rounded-2xl text-lg hover:bg-[#0000000D]">
          <img class="w-8 h-8" src="/assets/icon/dashboard.svg" alt="">
          Dashboard
        </li>
      </a>

      <a routerLink="/documentation" routerLinkActive="hover:unset rounded-2xl bg-[#0000000D]">
        <li class="flex gap-4 px-2 lg:px-4 py-2 rounded-2xl text-md lg:text-lg hover:bg-[#0000000D]">
          <img class="w-8 h-8" src="/assets/icon/document.svg" alt="">
          Documentation
        </li>
      </a>


      <a routerLink="/settings" routerLinkActive="hover:unset rounded-2xl bg-[#0000000D]">
        <li class="flex gap-4 px-2 lg:px-4 py-2 rounded-2xl text-md lg:text-lg hover:bg-[#0000000D]">
          <img class="w-8 h-8" src="/assets/icon/settings.svg" alt="">
          Settings
        </li>
      </a>
    </ul>
  </div>
</div>
